@import "tailwindcss";

@theme {
  --color-primary: #ee2b8c;
  --color-secondary: #f472b6;
  --color-glass-dark: rgba(20, 10, 15, 0.65);
  --color-glass-border: rgba(255, 255, 255, 0.08);
  --color-glass-highlight: rgba(255, 255, 255, 0.15);

  --font-display: "Space Grotesk", "sans-serif";
  --font-mono: "JetBrains Mono", "monospace";
}

@layer base {
  body {
    @apply m-0 font-display antialiased text-white bg-gray-900;
  }
}